[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyyaml = "*"
pydantic-settings = "*"
httpx = "*"
huggingface-hub = "*"
facebook-sdk = "*"
ty = "*"
langgraph = "*"
llama-index = "*"
llama-index-embeddings-huggingface = "*"
llama-index-llms-huggingface = "*"
uvicorn = "*"
python-multipart = "*"
transformers = "*"
torch = "*"
fastapi = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
pgvector = "*"

[dev-packages]

[requires]
python_version = "3.13"
