[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyyaml = "*"
pydantic-settings = "*"
httpx = "*"
huggingface-hub = "*"
facebook-sdk = "*"
ty = "*"
langgraph = "*"
weaviate = "*"
llama-index = "*"
llama-index-vector-stores-weaviate = "*"
llama-index-embeddings-huggingface = "*"
llama-index-llms-huggingface = "*"
weaviate-client = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
transformers = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.13"
